#logo {
	height:50px;
	margin-right:10px;
	max-height:90%;
}

#modalHeader {
	width:100%;
}

#modalRank {
	display:none;
}

#modalRank table {
	border-collapse:collapse;
}

#theModal {
	background-color:#fff;
	background-image:url(/img/background.jpg);
	background-position:50% 0;
	background-repeat:cover;
	border:1px solid #000;
	font-family:Helvetica,Arial,sans-serif;
	min-height:100%;
}
#chrome {
    margin-top: 10px;
    color: white;
    background-color: rgba(50,50,50,0.8);
    padding: 10px;
}
#title span {
	text-shadow:0 0 10px #54B00F;
}

* {
	outline:none;
}

.badge {
	cursor:pointer;
}

.button.expand {
	font-family:'Bowlby One SC',Helvetica,Arial,sans-serif;
	font-size:16px;
	padding-left:.88889rem;
	padding-right:.88889rem;
	width:100%;
}

.button.success,.label.success {
	background-color:#54B00F;
	color:#FFF;
}
.greenlink {
    color: #54B00F!important;
}
.underline {
    text-decoration: underline;
}
#twitter {
    margin-left: 10px;
    margin-top: 15px; 
}
#twitter img{
    height: 30px;
}
.button.success:focus,.button.success:hover {
	background-color:rgba(85,176,16,0.83);
	color:#FFF;
}

.callout .button {
	line-height:25px;
	min-height:90px;
}

.callout.parent {
	opacity:.5;
}

.callout.secondary {
	background-color:rgba(235,235,235,0.75);
	color:#0a0a0a;
}

.close-button {
	cursor:pointer;
	font-size:16px;
	height:28px;
	right:1px;
	top:1px;
	width:28px;
}

.commentTitle {
	font-size:18px;
	font-weight:700;
}

.datetime {
	font-size:15px;
	margin-top:0;
	padding:2px;
}

.full {
	margin:20px;
}

.html {
	font-size:18px;
	margin-top:-5px;
	word-break:break-word;
}

.html .callout.indent {
	margin-left:30px;
}

.html strong.label {
	font-size:13px;
	min-width:auto;
	text-align:center;
}

.icon {
	height:30px;
}

.inverted {
	filter:invert(100%);
}

.large-text {
	font-size:20px!important;
}

.large.reveal {
	top:0!important;
}

.menu-text {
	font-weight:400;
}

.opgerot,.deleted {
	height:23px;
}

.parent {
	font-size:13px;
	line-height:15px;
	padding:10px;
}

.postLink {
	color:#54B00F!important;
	font-size:18px;
	font-weight:700;
}

.ranktd,.strong {
	font-weight:700;
}

.ranktopic {
	font-size:15px;
	font-weight:700;
}

.spinner {
	height:20px;
	width:20px;
}

.td_baby,.td_rip,.td_weggejorist,.td_opgerot {
	min-width:50px;
	width:50px;
}

.td_count,count {
	font-size:12px;
	width:30px;
}

.td_description {
	font-size:13px;
	max-width:400px;
}

.thumbnail {
	background-color:#fff;
	margin-top:22px;
	min-width:50px;
	width:105px;
}

.thumbnail2 {
	margin-right:10px;
	width:40px;
}

.top-bar,footer,table thead {
	background-color:#fff;
	background-image:url(/img/grunge.png);
	background-position:50% 0;
	background-repeat:cover;
	color:#fff!important;
}

.ui-autocomplete {
	max-height:400px;
	overflow-y:hidden;
}

.update {
	color:#AAA;
	font-size:12px;
	margin-top:15px;
}

.username,.tag {
	color:#54B00F!important;
	font-size:16px;
	font-weight:700;
	max-width:150px!important;
	text-decoration:underline;
}

.zwitsal.small {
	height:14px;
	margin-right:4px;
	width:14px;
}

a {
	color:#000!important;
}

a:hover,a:active {
	color:#54B00F;
}

body {
	background-color:#fff;
	background-image:url(/img/background.jpg);
	background-position:50% 0;
	background-repeat:cover;
	display:none;
	font-family:Helvetica,Arial,sans-serif;
}

footer a {
	color:#fff!important;
}

footer a:hover,footer a:active,footer a:visited,footer a:link,.html a,.td_description a {
	color:#54B00F!important;
}

h1,h2,h3,h4,h5,.title-bar-title,p.lead,.font,.menu-text {
	font-family:'Bowlby One SC',Helvetica,Arial,sans-serif;
}

html,body {
	height:100%;
}

input {
	font-family:Helvetica,Arial,sans-serif!important;
}

span.superklein {
	font-size:11px!important;
}

strong.label {
	font-size:18px;
	min-width:80px;
	text-align:center;
}

table {
	max-width:1150px!important;
}

table tbody {
	background-color:rgba(255,255,255,0.7);
}

td,th {
	border-bottom:1px solid #CCC;
	font-weight:400;
	max-width:800px!important;
	text-align:left;
	vertical-align:middle;
}

td.td_commentkudocount {
	padding-top:30px;
}

thead,tbody {
	font-size:20px;
}

@media screen and (max-width: 800px) {
	.button.expand {
    	font-size: 13px!important;
	}
	#twitter {
    	display: none;
	}
    #chrome {
        display: none;
    }
}

@media screen and (max-width: 600px) {
	.button.expand {
    	font-size: 17px!important;
        min-height:auto;
	}
	.period.button.expand {
    	font-size: 14px!important;
        min-height:auto;
	}
    .thumbnail2 {
        display: none;
    }
    .datetime {
        font-size: 12px;
    }
	table {
		margin:0;
		max-width:99%;
	}
	
	.row {
		margin:0!important;
	}
	
	thead,tbody {
		font-size:12px;
	}
	
	.icon {
		height:12px;
	}
	
	.period.button.expand {
		font-size:11px;
	}
	
	.td_baby,.td_rip,.td_weggejorist,.td_opgerot {
		width:30px;
		min-width:30px;
		padding:0;
	}
	.td_thumb {
    	display: none;
	}
    .html .callout.indent {
        margin-left: 20px;
    }
	.html {
		font-size:11px;
		margin-top:10px;
	}
	
	.parent {
		font-size:11px;
		padding:5px;
	}
	
	th,td {
		font-size:11px;
	}
    .ranktopic,.tdrank {
        font-weight: bold;
        font-size: 10px!important;
    }
    .button.expand {
        padding-left: 0;
        padding-right: 0;
    }
	#modalContent {
		zoom:.9;
	}
	
	.close-button {
		position:fixed;
		right:0;
		top:0;
		font-size:22px;
		width:40px;
		height:40px;
	}
	
	.period.button {
/* 		min-height:40px; */
	}
	
    .username, .tag {
        font-size: 12px!important;
    }
}